<%= form_with(model: student) do |form| %>
  <div class="card shadow mt-2 ms-1 me-1">
    <div class="card-header d-flex justify-content-between align-items-center" style="background-color: #cfe2ff;">
      <% if student.new_record? %>
        <h2 class="mb-0 fw-bold">New Student</h2>
        <div>
          <%= link_to "Back to Students", students_path, class: "btn btn-secondary me-2" %>
          <%= form.submit(class: "btn btn-success") %>
        </div>
        <% else %>
        <div class="d-flex align-items-center">
          <h2 class="mb-0 fw-bold">Edit Student</h2>
          <%= link_to "Show this Student", student, class: "btn btn-outline-primary ms-2" %>
        </div>
        <div>
          <%= link_to "Back to Students", students_path, class: "btn btn-secondary me-2" %>
          <%= form.submit(class: "btn btn-success") %>
        </div>
        <% end %>
    </div>
    <div class="card-body">
      <% if student.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

          <ul>
            <% student.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-3">
        <%= form.label :name, class: "form-label fw-bold"%>
        <%= form.text_field :name, class: "form-control", placeholder: "Enter Student Name" %>
      </div>

      <div class="mb-3">
        <%= form.label :year_level, class: "form-label fw-bold"%>
        <%= form.number_field :year_level, class: "form-control", placeholder: "Enter Year Level" %>
      </div>

      <div class="mb-3">
        <%= form.label :program, class: "form-label fw-bold"%>
        <%= form.text_field :program, class: "form-control", placeholder: "Enter Program" %>
      </div>

      <div class="mb-3">
        <%= form.label :department_id, "Department", class: "form-label fw-bold" %>
        <%= form.collection_select :department_id, Department.all, :id, :name, {prompt: "Select a Department"}, {class: "form-select"}%>
      </div>
    </div>
  </div>
<% end %>
