<div class="card mb-4 shadows-sm mt-3 ms-1 me-1 bg-dark-subtle text-dark-emphasis">
  <div class="card-header bg-secondary text-white">
    <h2 class="mb-0 fw-bold">
      <%= @student.name %>
    </h4>
  </div>

  <div class="card-body">
    <p><strong> Year Level: </strong> <%= @student.year_level %></p>
    <p><strong> Program: </strong> <%= @student.program %></p>
    <p><strong> Department: </strong> <%= @student.department.name %></p>
    <p><strong> No. of Units: </strong> <%= @student.number_of_units %></p>
    <p><strong> Total Assessment: </strong> <%= @student.total_assessment %></p>
    <p><strong> No. of Guardians: </strong> <%= @student.number_of_guardians %></p>
  </div>

  <h4 class="m-2 fw-bold"> List of Subjects: </h4>
  <table class="table table-bordered table-striped">
    <thead class="table table-light">
      <tr>
        <th> Section </th>
        <th> Subject </th>
        <th> Units </th>
        <th> Teacher </th>
      </tr>
    </thead>
    <tbody>
      <% @student.classlists.each do |classlist| %>
        <tr>
          <td><%= classlist.section.name %></td>
          <td><%= classlist.section.subject.name %></td>
          <td><%= classlist.section.subject.number_of_units %></td>
          <td><%= classlist.section.subject.teacher.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="d-flex justify-content-between mt-2 mb-4 align-items-center">
    <div>
      <%= link_to "Back to students", students_path, class: "btn btn-secondary ms-2" %>
    </div>
    <div class="btn-group">
      <%= link_to "Edit this student", edit_student_path(@student), class: "btn btn-warning" %>
      <%= button_to "Destroy this student", @student, method: :delete, 
          data: { confirm: "Are you sure you want to delete this student?" },
          class: "btn btn-danger ms-2" %>
    </div>  
  </div>
</div>
